<div class="container-fluid row h-80 align-items-center listText">
    <h3 class="topMargin">Product Details:</h3>
    <table class="table">
    <tbody>
        <tr>
            <th>ID</th>
            <td>{{product.prodId}}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{product.prodName}}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{product.price}}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{product.category}}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{product.description}}</td>
        </tr>
        <tr>
            <th>quantity</th>
            <td>{{product.qoh}}</td>
        </tr>
    </tbody>
</table>
 <div>
    <a class="btn btn-primary btnPadding" routerLink="/product-list">Product List</a>
    <a class="btn btn-primary btnPadding" routerLink="/home">Home</a>
    <a class="btn btn-primary btnPadding" (click)="addToCart(product,mymodal)">Add to cart</a>
 </div>
 <ng-template #mymodal let-modal>
    <div class="alert alert-success" role="alert">
      <div class="modal-body">
        <h4 class="alert-heading">Well done!</h4>
        <p>Aww yeah, you successfully added this product in to the cart.</p>
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
      </div>
    </div>
  </ng-template>

</div>